<div class="container">
  <h1>Best Tweeter App Ever</h1>

  <form action="/username" method='post'>
    <input type='text' name='username' placholder='twitter handle'>
    <input type='submit' value='find tweets'>
  </form>

  <div class='tweet-display'></div>
  
</div>
